
header {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
  padding: 2em;
  text-align: center;
  background-image: url('images/hakkimda/bg.jpg');
  background-size: cover;
  color: white;
  margin: 0 auto;
}
header a{
  color: #1C9C94;
  text-decoration: none;
  color: white;
}
header a:hover{
  opacity: 0.5;
}
header section {
  margin: 0 auto;
  max-width: 640px;
  padding: 1em;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

header h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}




nav {
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
@media(max-width: 786px) {


nav ul {
  max-height: 0px;
  background: #000;
}

nav.black ul {
  background: #000;
}

nav ul li {
  box-sizing: border-box;
  width: 100%;
  padding: 24px;
  text-align: center;
}

}




footer {
  padding: 1em 1.5em;
  background: #A7B8BF;
  color: white;
  text-align: right;
 }
 














