@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");
	body{
		background-size: cover; background-position: top center;
		font-family: "Source Sans Pro", Helvetica, sans-serif; font-size: 13pt;
		margin: 0;
	}

	a { text-decoration: none; }

	h3 {
		color: #ffffff;
		font-weight: 200;
		line-height: 1.5;
		margin: 0 0 1em 0;
		font-size: 1em;
    }
/* -Resim Kutuları- */
	.kucukResim {/*kucukResim*/
		display: flex;
		margin: 0 0 2em -2em;
	}

		.kucukResim a {
			transition: all 0.2s ease;
			border-bottom: none;
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
			text-align: center;
			border-radius: 4px;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
			cursor: pointer;
			outline: 0;
			overflow: hidden;
		}
			.kucukResim a h3 { margin: 1em; }

			.kucukResim a:hover { background-color: rgba(255, 255, 255, 0.25); box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #FF6382; }

		.kucukResim > div { width: calc(100% / 3); padding-left: 2em; margin-top: 15px; }

	#kutucuk {
		max-width: 68em;
		width: 100%;
		margin: 0 auto;
		padding: 0 2em;
		transition: opacity 1s ease, filter 1s ease;
	}

/*-Main-*/
        .service-section {
            background: #f4f4f4;
            overflow: hidden;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
        }

        .container { padding-bottom: 100px; padding-top: 100px; }

        #section-title {/* Başlık */
            padding-bottom: 10px;
            margin-bottom: 70px;
        }
        .service-item p {
            font-size: 15px;
            line-height: 22px;
            margin-inline-start: 0px;
            margin: 0 0 10px;
            color: #777;
        }
        #satir { margin-right: -15px; margin-left: -15px; }

        * { box-sizing: border-box; }

        .col-sm-3 { width: 25%; float: left; }

        .col-md-3,.col-sm-3 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .service-item {
            text-align: center;
            padding: 50px 30px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 0 30px rgba(64,64,64,.1);
        }

        img { max-width: 100%; vertical-align: middle; border: 0; }

        h2 { font-size: 30px; }

        h4 { font-weight: bold; line-height: 1.1; }

/*-Responsive-*/
    @media (max-width: 750px)
    {
        h2{ margin-left: 80px; padding-left: 100px; }
        .col-sm-3 {  width: 20%; }
        .col-md-3,.col-sm-3 { padding-right: 1px; padding-left: 5px; }
        .service-item { padding: 2px 2px; }
    }
    @media (min-width: 750px){ h2{  text-align: center; } }
    @media (min-width: 400px) { .container { width: 850px; padding-right: 3px; padding-left: 3px; margin-right: auto; margin-left: auto; } }
    @media screen and (max-width: 590px) { 
        h2{ margin-left: 30px; padding-left: 90px; }
        .col-sm-3 {  width: 14%; }
        .col-md-3,.col-sm-3 { padding-right: 1px; padding-left: 5px; }
        .service-item { padding: 2px 2px; }
    }